.allPage{
    min-height: 89vh;
    background-image: url(https://res.cloudinary.com/dwwvof9x3/image/upload/v1704673738/diana-polekhina-PIDlLKcFOEI-unsplash_nwdscs.jpg);
    background-position: center center;
    background-size: cover;
  
}