.payment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:black;
    font-family: 'Cinzel Decorative', serif;
    font-family: 'Lemon', serif;
    font-size: x-large;
}


  
  .centered-container {
    /* Optional: Add styles for the centered container holding the Paypal component */
    text-align: center;
  }